body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: #303030;
    color: #fff
}

header {
    color: green;
}

h1 {
    text-align: center;
}

img {
    width: 300px;
    height: 300px;
    border-radius: 10%;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

p {
    text-align: center;
    max-width: 60ch;

}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#zgoda {
    font-weight: 1000;
    margin: 1rem;
}

label {
    display: flex;
    flex-direction: column;
    align-items: center;

}

p {
    font-weight: 700
}

.metaanabol {
    height: 500px;
}

.btn-area {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin-top: 2rem;
    gap: 5rem;
}

.btn {
    border: none;
    border-radius: 90px;
    padding: 1rem 1.5rem;
    font-size: 24px;
    background-color: rgb(128, 98, 146);
    color: white;
    transition: all 0.3s ease-out;
    cursor: pointer;
    
}

.amfa {
    background-color: aqua;
    color: grey;
}

.amfa:hover {
    transform: translateY(-5px);
    color: #303030;
}

.koka {
    background-color: bisque;
    color: black;

}

.koka:hover {
    
}

a:-webkit-any-link{
    text-decoration: none;
    color: #303030;
    transition: all 0.3s ease-out;
}

a:hover{
    color: white;
}

#koczka{
    color: aqua;
}